@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
* {
  margin: 2px;
  padding: 2px; }

nav {
  background-color: white; }
  nav div {
    color: #8b5e42;
    font-size: 20px; }

/* This text is in Goudy Old Style */
body {
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #f8edf6; }

#content {
  background-color: #f3e3f0;
  padding: 20px;
  width: 100%;
  margin-top: 5px; }

.titulo {
  color: #522709;
  font-size: 45px;
  text-align: center;
  font-family: 'Inspiration', cursive;
  font-weight: bold; }
  .titulo h1 {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite; }

.navbar-nav {
  color: #5f2e0b; }

.Container1 {
  font-size: 25px;
  text-align: center;
  color: #8b5e42;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 70px; }

section {
  margin-left: 80px;
  height: 800px;
  color: #8b5e42; }

.card-img-top {
  padding-left: 25%; }

.grid {
  display: grid;
  margin-top: 50px;
  height: 400px;
  align-items: center;
  margin-left: 110px;
  margin-right: 100px;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: 300px;
  gap: 1em; }

.grid .card:hover {
  border: 2px solid #e4a163; }

.container2 {
  text-align: center;
  height: 400px;
  margin-bottom: 60px; }

.contai2 {
  margin-bottom: 50px;
  color: saddlebrown;
  font-size: 25px; }

.listaPro {
  grid-template-columns: 200px;
  grid-template-rows: 600px;
  background-color: #f8f5f1;
  margin-right: 1570px;
  margin-left: 20px;
  padding-left: 70px;
  padding-right: 40px; }

#productos {
  display: grid;
  margin-left: 20px;
  position: relative;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(5, 350px);
  margin-left: 300px; }

.video {
  margin-bottom: 200px; }

#productos .card:hover {
  border: 2px solid #e4a163; }

.card {
  display: flex;
  display: inline-table;
  height: 100px;
  margin-left: 70px;
  margin-top: 20px;
  align-items: center;
  overflow: hidden; }

.cardS {
  display: flex;
  display: inline-table;
  height: 300px;
  margin-left: 50px;
  margin-top: 20px;
  align-items: center;
  overflow: hidden; }

.card__image {
  width: 20%;
  text-align: center;
  padding-left: 150px;
  padding-top: 20px; }

.card:hover .card__image {
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

.btn {
  padding: 0.3em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  width: 25%;
  border-radius: 20px;
  background-color: #c5884f;
  border: 2px solid #302113; }

.contacto {
  color: saddlebrown;
  width: 600px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 80px;
  margin-bottom: 100px; }

.text {
  margin-right: 1000px; }

.card__content {
  margin-left: 70px; }

.btn--success {
  background-color: #c5884f;
  border: 2px solid #302113;
  color: whitesmoke;
  padding-right: 20px;
  margin-left: 50px;
  transition: background-color ease-in 2ms; }

.btn--success:hover {
  background-color: #302113; }

.productosBoot {
  height: 1100px; }

.btn1 {
  padding: 0.3em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  width: 10%;
  border-radius: 20px; }

.btn--success1 {
  background-color: #c5884f;
  border: 2px solid #302113;
  color: whitesmoke; }

.lista {
  display: grid;
  background-color: white;
  font-size: 10px; }

.compral {
  margin-left: 50px;
  margin-top: 70px;
  width: 1300px;
  height: 600px; }

.domicilio {
  width: 400px;
  margin-right: 300px; }

.tienda {
  width: 400px;
  margin-left: 100px; }

footer {
  background-color: #e4cbaa;
  margin-top: 100px; }

.cele {
  margin-top: 50px;
  margin-left: 400px;
  color: #8b5e42; }

.celebraciones {
  height: 500px;
  margin-left: 100px;
  margin-top: 50px; }

.card-img-top {
  width: 15%; }

.card-body {
  font-size: 30px;
  text-align: center; }

ul {
  background-color: #f8edf6;
  list-style: none; }
  ul a {
    color: #8b5e42;
    text-decoration: none; }
  ul li {
    display: inline-block;
    position: relative;
    font-size: 20px; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: none; }

ul li:hover ul {
  display: block; }

@media only screen and (max-width: 600px) {
  body {
    background-color: #41df58; } }

@media only screen and (min-width: 500%) {
  body {
    background-color: aqua; } }
